
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">


    <!-- Morris Charts CSS -->
    <link href="{% static 'css/plugins/morris.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{ static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">SB Admin</a>
            </div>
            <!-- Top Menu Items -->
           
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <a href="index.html"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Dashboard <small>Statistics Overview</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> Dashboard
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-comments fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">26000</div>
                                        <div>Total Visits(Excluding other visitors)</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-tasks fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">31250</div>
                                        <div>Total Visits(Including other visitors)</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-yellow">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-support fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">48% of Journeys</div>
                                        <div>Curative Intents</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-red">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-support fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">Benefits Advice</div>
                                        <div>Popular Activity</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Chart of monthly visits</h3>
                            </div>
                            <div class="panel-body">
                                <div id="visits-chart"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-long-arrow-right fa-fw"></i>New Male to Female visits</h3>
                            </div>
                            <div class="panel-body">
                                <div id="morris-donut-chart"></div>
                                <div class="text-right">
                                    <a href="#">View Details <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> New PwC and New Carers</h3>
                            </div>
                            <div class="panel-body">
                                <div id="chart1"></div>
                                <div class="text-right">
                                    <a href="#">View All Activity <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-male"></i> Cancer Sites</h3>
                            </div>
                            <div class="panel-body">
                                <div id="chart2"></div>
                                <div class="text-right">
                                    <a href="#">View All <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{% static 'js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Morris Charts JavaScript -->
    <script src="{% static 'js/plugins/morris/raphael.min.js' %}"></script>
    <script src="{% static 'js/plugins/morris/morris.min.js' %}"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/highcharts-more.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>

    <script type="text/javascript">
        $(function() {

    //call your individual charts
    //add/overwrite any options you need for each chart

    //Pull data from DB
    var dates1 =  ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sept','Oct'];
    var data1 = [23,113,118,84,89,53,106,119,86,37];
    var dates2 = [2016-10-11,2016-10-12,2016-10-13,2016-10-14,2016-10-15,2016-10-16,2016-10-17,2016-10-18,2016-10-19,2016-10-20];
    var data2 = [113,81,77,104,83,98,121,43,47,43];
    var gender = ['Female','Male','Under 18 Female','Under 18 Male'];
    var gcount = [270,103,1,4];

    var visittype = ['Carer','PwC'];
    var visitcount = [147,470];

    var visittype2 = ['Carer','PwC']
    var visitcount = [122,523]

    //Bar chart
    $('#chart1').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'New PwC and New Carers'
        },
        xAxis: {
            categories: [
                'Year 1',
                'Year 2'
            ],
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'New Visits '
            }
        },
        series:[{
            name: 'PwC',
            data:[470,523]
        },
        {
            name: 'Carers',
            data:[147,122]
    }]
    });
    //Bubble chart
    $('#chart2').highcharts({
        chart: {
            type: 'bubble',
            plotBorderWidth: 1,
            zoomType: 'xy'
        },

        legend: {
            enabled: false
        },

        title: {
            text: ''
        },

        xAxis: {
            gridLineWidth: 1,
            title: {
                text: 'Cancer sites'
            }
        },

        yAxis: {
            startOnTick: false,
            endOnTick: false,
            title: {
                text: ''
            }
        },

        tooltip: {
            useHTML: true,
            headerFormat: '<table>',
            pointFormat: '<tr><th colspan="2"><h3>{point.c_site}</h3></th></tr>' +
                
                '<tr><th>Cancer sites:</th><td>{point.z}%</td></tr>',
            footerFormat: '</table>',
            followPointer: true
        },

        plotOptions: {
            series: {
                dataLabels: {
                    enabled: true,
                    format: '{point.name}'
                }
            },
            bubble:{
               
                minSIze:'1%',
                maxSize:'20%'
            }
        },

        series: [{
            data: [
                { x: 95, y: 85, z: 17.8, name: 'Brain/CNS', c_site: 'Brain/CNS' },
                { x: 90.5, y: 102.9, z: 65, name: 'Breast', c_site: 'Breast' },
                { x: 80.8, y: 21.5, z: 12.8, name: 'Gynae', c_site: 'Gynae' },
                { x: 80.4, y: 102.5, z: 25, name: 'Haemat', c_site: 'Haemat' },
                { x: 80.3, y: 82.1, z: 18.8, name: 'Head/Neck', c_site: 'Head/Neck' },
                { x: 78.4, y: 30.1, z: 1.6, name: 'Liver', c_site: 'Liver' },
                { x: 74.2, y: 68.5, z: 23.5, name: 'Lower GI', c_site: 'Lower GI' },
                { x: 73.5, y: 30.1, z: 10, name: 'Lung', c_site: 'Lung' },
                { x: 71, y: 93.2, z: 20.3, name: 'Not Stated', c_site: 'Not Stated' },
                { x: 79.2, y: 18.6, z: 2, name: 'Pancreatic', c_site: 'Pancreatic' },
                { x: 68.6, y: 35, z: 14.8, name: 'Prostate', c_site: 'Prostate' },
                { x: 65.5, y: 126.4, z: 4, name: 'Rare', c_site: 'Rare' },
                { x: 65.4, y: 50.8, z: 8, name: 'Sarcoma', c_site: 'Sarcoma' },
                { x: 63.4, y: 22.8, z: 2.7, name: 'Skin/Mel', c_site: 'Skin/Mel' },
                { x: 64, y: 23, z: 3, name: 'Testicular', c_site: 'Testicular' },
                { x: 68.6, y: 20, z: 0.5, name: 'Unknown', c_site: 'Unknown Primary' },
                { x: 63.4, y: 31.8, z: 11.4, name: 'Upper GI', c_site: 'Upper GI' },
                { x: 64, y: 32.9, z: 11.8, name: 'Urolog', c_site: 'Urolog' }
            ]
        }]

    });
    
    //Line chart
    $('#visits-chart').highcharts({
        title: {
            text: 'Monthly Visits'
        },
        xAxis: {
            categories: dates1,
            crosshair: true
        },
        series:[{
            
            name: 'Year 1',
            data:data1
        },{
            name: 'Year 2',
            data:data2
        }]
    }); 



    // Donut Chart
    Morris.Donut({
        element: 'morris-donut-chart',
        data: [{
            label: gender[0],
            value: [gcount[0]]
        },  {
            label: gender[1],
            value: [gcount[1]]
        },
        {
            label: gender[2],
            value: [gcount[2]]
        },  {
            label: gender[3],
            value: [gcount[3]]
        }],
        colors:['#0087BD','blue','green','black'],
        resize: true
    });

    

    


});
    </script>

</body>

</html>
